<form action="/records/new" method="POST">
  <h3>請輸入你的支出</h3>
  <div class="form-group">
    <label>名稱* :</label>
    <input required class="form-control" style="display: inline;" type="text" name="name">
  </div>
  <div class="form-group">
    <label>日期* :</label>
  </div>
  <div class="form-group">
    <label>類別* :</label>
    <select class="form-control" name="category">
      {{#each categories}}
      <option>{{ categories.category }}</option>
      {{/each}}
    </select>
  </div>
  <div class="form-group">
    <label>金額* :</label>
    <input required class="form-control" style="display: inline;" type="text" name="amount">
  </div>
</form>